/*.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}
.card:nth-child(2) {
  margin-right: 65px;
  margin-top: 15px;
}

.card > .name {
  font-family: "Times New Roman", Times, serif;
  margin-left: 55px;
}
.card > .name:hover {
  letter-spacing: 2px;
  color: goldenrod;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.card > .price {
  font-family: "Times New Roman", Times, serif;
  margin-left: 55px;
  margin-bottom: 25px;
}
.card > .price:hover {
  letter-spacing: 2px;
  color: goldenrod;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
*/
.products {
  display: inline-block;
}

.products h2,
p {
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
}

.products h2,
p:hover {
  color: goldenrod;
  letter-spacing: 1.2px;
}
